//=============================================
// APPLICATION COLOR PALLETE VARIABLES
//=============================================
$color-scheme: (
  "teal": (
    "900": #663500,
  "800": #8C4A00,
  "700": #B25E00,
  "600": #D97200,
  "500": #FFA500,
  "400": #FFB733,
  "300": #FFC966,
  "200": #FFDB99,
  "100": #FFECCC,
  "50": #FFF6E5,
  "10": #FFFBF5,
  ),
  "green": (
    "900": #051F20,
  "800": #073B3D,
  "700": #0A5759,
  "600": #0D6B6E,
  "500": #108F93,
  "400": #14B3B8,
  "300": #3DCCD1,
  "200": #7ADEE1,
  "100": #B7EEF0,
  "50": #DCF7F8,
  "10": #F5FCFD,
  ),
  "yellow": (
    "900": #372401,
    "800": #6d4805,
    "700": #a16a07,
    "600": #d18c0f,
    "500": #eea41a,
    "400": #f1b343,
    "300": #f5ca79,
    "200": #f8d9a0,
    "100": #fbe8c6,
    "50": #fef8ec,
    "10": #fffdf7,
  ),
  "red": (
    "900": #2d0a14,
    "800": #521224,
    "700": #7b1c38,
    "600": #a3284c,
    "500": #cd3c64,
    "400": #d45d7f,
    "300": #de7d99,
    "200": #eaadbf,
    "100": #f2cdd8,
    "50": #fbeef2,
    "10": #fefbfc,
  ),
  "grey": (
    "900": #171918,
    "800": #353a39,
    "700": #525857,
    "600": #696f6e,
    "500": #818988,
    "400": #a8b1af,
    "300": #c1c9c8,
    "200": #d5dddc,
    "100": #e5edeb,
    "50": #f1f7f6,
    "10": #f6faf9,
  ),
  "neutral": (
    "900": #000000,
    "800": #171716,
    "700": #2e2e2c,
    "600": #454442,
    "500": #5c5b58,
    "400": #5c5b58,
    "300": #73726e,
    "200": #a0a099,
    "100": #cecdc5,
    "50": #e5e4db,
    "10": #ffffff,
  ),
);

//=============================================
// GENERATE COLOR BASED CLASS NAMES
//=============================================
@each $color-type, $color-shades in $color-scheme {
  @each $color-shade, $color in $color-shades {
    .#{$color-type}-#{$color-shade} {
      color: $color;
    }

    .#{$color-type}-#{$color-shade}-bg {
      background: $color;
    }

    .border-#{$color-type}-#{$color-shade} {
      border: 0.0625rem solid $color;
    }

    .border-top-#{$color-type}-#{$color-shade} {
      border-top: 0.0625rem solid $color;
    }

    .border-bottom-#{$color-type}-#{$color-shade} {
      border-bottom: 0.0625rem solid $color;
    }
  }
}

//=============================================
// FUNCTION TO SPLIT STRINGS BY A SEPARATOR
//=============================================
@function str-split($string, $separator) {
  $i: str-index($string, $separator);
  @if $i != null {
    @return append(
      str-slice($string, 1, $i - 1),
      str-split(str-slice($string, $i + str-length($separator)), $separator)
    );
  }
  @return $string;
}

//====================================================
// FUNCTION TO GENERATE COLOR NAME FROM COLOR SCHEME
//====================================================
@function getColor($color-shade) {
  $splitted-color: str-split($color-shade, "-");
  $color-map: map-get($color-scheme, nth($splitted-color, 1));
  @return map-get($color-map, nth($splitted-color, 2));
}
